.wrapper {
  margin: 30px auto;
  border: 1px solid #000;
  max-width: 80%;
  overflow: hidden;

  .tickerTape {
    width: 100%;
    animation: marquee-text 15s linear infinite;
  }

  @keyframes marquee-text {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}